// Filename: _files.scss
// Description: File dialog integration toolbar.

.ws-filebar {
	@extend .ws-toolbar;

    &-dropArea {
	    @include rel('height', 30px);
	    @include rel('margin-bottom', 5px);
		border-style: dashed;
		border-color: $divider-color;
		overflow: hidden;
		
		&--ondrag {
	       @include rel('height', 200px);
	    }
	}
	
	&-dropArea-label {
	    @include rel('margin', 0 0 2px);
	    @include rel('padding-left', 10px);
		text-align: center;
	}


	&-upload{
		position: relative;
		overflow: hidden;
	}
	
	&-inputupload {
   		font-size: $smaller;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity = 0);
		z-index: -1;
        width: 0;
        height: 0;
	}

	&-uploadform {
        width: 0;
        height: 0;
	}

}

